%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


._icon-arrow:before {
  content: "\e900";
}
._icon-arrow-down:before {
  content: "\e901";
}
._icon-arrow-link:before {
  content: "\e902";
}
._icon-arrow-link-long:before {
  content: "\e903";
}
._icon-facebook:before {
  content: "\e904";
}
._icon-instagram:before {
  content: "\e905";
}
._icon-logo:before {
  content: "\e906";
}
._icon-logo-min:before {
  content: "\e907";
}
._icon-pinterest:before {
  content: "\e908";
}
._icon-star:before {
  content: "\e909";
}
._icon-twitter:before {
  content: "\e90a";
}

