//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 50;
	// background-color: #263238;
	min-height: rem(65);
	padding-top: rem(30);
	padding-bottom: rem(30);
	transition: all 0.7s ease 0s;
	@media (max-width: $tablet) {
		padding-top: rem(15);
		padding-bottom: rem(15);
	}

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 1;
		@include adaptiveValue('font-size', 38, 20);
		color: #fff;
	}
	// .header__menu
	&__menu {
		padding: rem(0) rem(20);
	}
	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		@include adaptiveValue('gap', 16, 5);
		position: relative;
		z-index: 1;
	}
	// .header__button
	&__button {
		&:last-child {
			@media (max-width: $mobile) {
				margin-top: rem(20);
			}
		}
	}
	&._header-scroll {
		// margin-top: -25%;

		// background-color: rgba(255, 255, 255, 0.6);
		// backdrop-filter: saturate(180%) blur(30px);
		// color: #222222;

		// background-color: rgba(0, 0, 0, 0.7);
		// @media (min-width: $mobile) {
		// 	// background: linear-gradient(180deg, rgba(2, 0, 36, 1) 10%, rgba(252, 254, 255, 0.4) 100%);
		// 	backdrop-filter: saturate(180%) blur(20px);
		// 	background-color: rgba(0, 0, 0, 0.5);
		// }
		// top: -100%;
		transform: translateY(-100%);
	}
	&._header-show {
		transform: translateY(0);
		// top: 0;

		// margin-top: 0;
		padding-top: rem(10);
		padding-bottom: rem(10);
		background-color: rgba($color: #114b7b, $alpha: 0.8);
		backdrop-filter: saturate(180%) blur(10px);

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: rem(3.5);
			background-color: $orangeColor;
		}
	}
}
.menu {
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			height: 100vh;
			top: rem(67);
			left: 0;
			transform: translateX(-110%);
			transition: all 0.4s ease;
			overflow: auto;
			// background-color: #263238;
			padding: rem(50) rem(16) rem(50) rem(16);
			display: grid;
			align-items: center;
			justify-content: center;
			background: linear-gradient(to bottom right, #ffcccc, #198ec9);
			box-shadow: 5px 0 10px 0 rgba(34, 60, 80, 0.2);
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
		@media (min-width: $mobileSmall) {
			width: 50%;
			border-top-right-radius: 250px 150px;
			border-top: 3px solid rgba(199, 230, 255, 0.8);
			border-right: 3px solid rgba(199, 230, 255, 0.8);
		}
		@media (min-width: $mobile) {
			border: 0;
		}
		.menu-open & {
			// left: 0;
			transform: translateX(0);
			// background-color: #263238;
			// background-color: #198ec9;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue('column-gap', 32, 18);
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			row-gap: rem(36);
			padding: rem(0) rem(0) rem(77) rem(0);
		}
		@media (min-width: $mobileSmall) {
			align-items: start;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		@include adaptiveValue('font-size', 20, 16);
		font-weight: 300;
		position: relative;
		transition: all 0.3s ease;
		@media (max-width: $mobile) {
			font-size: rem(36);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
		&._active {
			font-weight: 500;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: inline-block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		margin-left: rem(5);
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
